@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Oswald:wght@300&family=Poppins&family=Teko:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
header{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  font-size: 1.4rem;
  background-color: rgba(0,0,0);
  padding-bottom: 5px;
}

.mob_menu{
  display: none;
}
.basket_a{
  border-bottom: 3px wheat solid;
}
.wide_menu a:hover{
  text-shadow: 0 0 10px white;
}
.logo{
  margin: 10px 0 0 30px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
}
nav ul li{
  margin-right: 40px;
  margin-top: 10px;
}
nav ul li a{
  text-decoration: none;
  color: wheat;
}
.basket{
  width: 40px;
  height: 40px;
}
li{
  list-style-type: none;
}
@media screen and (max-width: 900px) and (min-width: 401px) {
  header{
    align-items: center;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  header{
    position: fixed;
    z-index: 2;
    transform: translateY(-70px);
    background-color: rgba(0,0,0,0.5);
  }
  body main h1{
    margin-top: 70px;
  }
  .wide_menu{
    display: none;
  }
  .bar{
    cursor: pointer;
    position: absolute;
    left: -45px;
    top: 10px;
  }
  .mob_menu{
    display: block;
    visibility: visible;
    position: static;
    z-index: 2;
  }
  .dropdown_content{
    height: 0;
    width: 50vw;
    display: flex;
    background-color: wheat;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    transition: 0.5s;
    transform: translateX(100%);
  }
  .dropdown_content_out{
    transform: translateX(0);
    height: 100vh;
  }
  .dropdown_content a{
    color: black;
    font-size: 2rem;
  }
  .basket{
    height: 100px;
    width: 100px;
  }
}
@media screen and (orientation: landscape) {
  header {
    height: 60px;
  }
}
main h1{
  margin: 30px;
}

.popup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

}

/* Стилизация контейнера окна */
.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Распределяем элементы внутри равномерно */
  width: 100%;
  max-width: 800px;
  min-height: 300px;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

/* Элементы окна (заголовок, список товаров, вывод стоимости) */
.popup__item {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.popup__item:last-of-type {
  border-bottom: none;
}

.popup__title {
  font-size: 20px;
}

/* Стили для вывода товара */
.popup__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popup__product-wrap {
  display: flex;
  align-items: center;
}

.popup__product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 10px;
}

.popup__product-title {
  max-width: 300px;
  font-weight: 500;
}

.popup__product-price {
  font-size: 18px;
  margin-right: 15px;
}

/* Стили для кнопки удаления товара */
.popup__product-delete {
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  color: #d62240;
}

/* Стили для вывода стоимости товаров */
.popup__cost {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.popup__cost-title {
  margin-right: 15px;
  font-size: 20px;
  color: #364364;
  text-align: right;
}

.popup__cost-value {
  font-size: 20px;
}


.popup--open {
  display: flex;
}
.in_total_send_flex{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.in_total{
  font-size: 1.6rem;
  font-weight: 900;
  margin-right: 50px;
  margin-bottom: 50px;
}
.send{
  display: inline-block;
  font-size: 1.3rem;
  padding: 20px;
  border-radius: 15px;
  margin-right: 25px;
  align-self: flex-end;
  color: wheat;
  background-color: #232323;
  cursor: pointer;
}
.send:hover{
  background-color: #4b4b4b;
}
.send:active{
  background-color: #1c1c1c;
}
footer{
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer p{
  margin: 15px;
  font-size: 1.2rem;
}
.warning{
  font-size: 1.6rem;
  align-self: center;
}
@media screen and (max-width: 500px) {
  footer p{
    font-size: 1.1rem;
  }
}
