@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Oswald:wght@300&family=Poppins&family=Teko:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
body{
  overflow: hidden;
}
.no_18{
  display: none;
  position: fixed;
  z-index: -1;
  background-color: #ffc360;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 40vw;
}
.no_18_txt{
  text-align: center;
}
.confirm-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  z-index: 0;
}
.age_confirm{
  position: fixed;
  z-index: 1;
  background-color: #ffc360;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 40vw;
}
@media screen and (max-width: 800px) {
  .age_confirm{
    width: 60vw;
  }
  .no_18{
    width: 60vw;
  }
}
.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  font-size: 20px;
  font-family: "Teko", sans-serif;
}
.is_18{
  margin-bottom: 3rem;
}
.yes{
  width: 100%;
  border-radius: 15px;
  background-color: #0092f3;
  border-color: #0032c5;
  color: black;
  text-decoration: none;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 6px;
}
.yes:hover{
  background-color: #3eaeff;
}
.yes:active{
  background-color: #006cb2;
}
.no{
  width: 80%;
  padding: 4px;
  border-radius: 15px;
  background-color: #b90101;
  border-color: #880303;
  cursor: pointer;
  font-size: 1.15rem;
}
.no:hover{
  background-color: #ff0303;
}
.no:active{
  background-color: #8d0000;
}
header{
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  font-size: 1.4rem;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: -60px;
}
.mob_menu{
  visibility: hidden;
  position: fixed;
  z-index: -1;
}
.main_a{
  border-bottom: 3px wheat solid;
}
.wide_menu a:hover{
  text-shadow: 0 0 10px wheat;
}
.logo{
  margin: 10px 0 0 30px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
}
nav ul li{
  margin-right: 40px;
  margin-top: 10px;
}
nav ul li a{
  text-decoration: none;
  color: wheat;
}
.basket{
  width: 40px;
  height: 40px;
}
li{
  list-style-type: none;
}
.hello{
  background-image: url('img/start-image_small.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% center;
}

.ad{
  background: rgba(0,0,0,0.7);
  color: wheat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 40px;
  padding: 40px;
  border-radius: 20px;
  font-size: 1.4rem;
}
@media screen and (max-width: 900px) and (min-width: 401px) {
  header{
    height: 100px;
    align-items: center;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) and (min-width: 501px){
  .hello .ad{
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) and (min-width: 401px){
  .hello .ad{
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) {
  .wide_menu{
  display: none;
  }
  .bar{
    cursor: pointer;
    position: absolute;
    left: -45px;
    top: 10px;
  }
  .basket_out{
    cursor: pointer;
    position: absolute;
    left: -88px;
    top: 10px;
  }
  .mob_menu{
    visibility: visible;
    position: static;
    z-index: 0;
  }
  .dropdown_content{
    height: 0;
    width: 50vw;
    display: flex;
    background-color: wheat;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0;
    transition: 0.5s;
    transform: translateX(100%);
  }
  .dropdown_content li{
    margin-bottom: 55px;
  }
  .dropdown_content_out{
    transform: translateX(0);
    height: 100vh;
  }
  .dropdown_content a{
    color: black;
    font-size: 2rem;
  }
  .basket{
    height: 100px;
    width: 100px;
  }
  .hello .ad{
    font-size: 1rem;
  }
}
@media screen and (orientation: landscape) {
  header{
    height: 60px;
  }
  .ad{
    font-size: 1.15rem;
    margin-bottom: 30px;
  }
}
.ad a{
  cursor: pointer;
  align-content: center;
  margin: auto;
}
.ad a button{
  font-size: 1.25rem;
  padding: 10px;
  width: 30vw;
  border-radius: 15px;
  font-weight: bold;
  background-color: orange;
  border-color: black;
  color: #000000;
  cursor: pointer;
}
.ad a button:hover{
  background-color: #ffc25e;
}
.ad a button:active{
  background-color: #d28400;
}
.crayfish{
  margin-bottom: 10px;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffe397;
}
footer h1{
  font-size: 3rem;
}
footer p{
  font-size: 1.4rem;
  margin: 15px;
}
.warning{
  font-size: 1.6rem;
}
